html, 
body {
    height: 100%;
}
body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.darker {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.login {
  font-size: 35px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-input {
  display: block;
  margin: auto;
  height: 2em;
  width: 60%;
  margin-bottom: 20px;
  /* border-radius: 10px; */
  border: 2px solid black;
}

main {
  padding: 10% 30% 10% 30%;
  font-family: 'Roboto', sans-serif;
}

.password-label, .un-label, .confirm-password-label {
  font-size: 20px;
}

.submit {
  background-color: green;
  display: block;
  margin: auto;
  border: none;
  padding: 10px 40px 10px 40px;
  color: white;
  cursor: pointer;
}
.submit:hover {
  background-color: rgb(87, 209, 87)
}

.login-label {
  font-weight: 1000;
  /* margin-top: 20px; */
}

